body {
    background-color: rgb(230, 201, 165);
}
h1, h2 {
    color: #ca3d3d;
    font-style: italic;    
}

div {
    vertical-align: middle; 
    margin: auto;
}
h1 {
    margin-top: 50px;
}
p {
    font-style: italic;
    font-size: 18px;
    color: rgb(121, 26, 62);
}

.fiyat {
    font-size: 15px;
    color: purple;
}


img {
    margin-top: 20px;
    border: 5px solid violet;
}
